.btn-light-blue{
    display: inline-block;
    background: #D2E1FF;
    color: $active;
    padding: 10px 32px;
    border-radius: 2px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s;
    &:hover{
        background: $active;
        color: #fff;
    }
}
.btn-blue{
    display: inline-block;
    background: #D2E1FF;
    color: $active;
    padding: 10px 32px;
    border-radius: 2px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s;
    &:hover{
        background: $active;
        color: #fff;
    }
}